<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>DNSMasq Manager</title>
    <link
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4 text-center">DNSMasq Manager</h1>
      <div class="d-flex justify-content-between mb-3">
        <a href="{{ url_for('add_record') }}" class="btn btn-primary"
          >Add New Record</a
        >
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="table-dark">
            <tr>
              <th scope="col">IP Address</th>
              <th scope="col">Domain Name</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for record in records %}
            <tr>
              <td>{{ record[0] }}</td>
              <td>{{ record[1] }}</td>
              <td>
                <form
                  action="{{ url_for('delete_record', record_id=loop.index0) }}"
                  method="POST"
                  style="display: inline"
                >
                  <button type="submit" class="btn btn-danger btn-sm">
                    Delete
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
